body{
  font-family: 'Saira Extra Condensed', sans-serif;
}


.primera_fila{
 float: left;

}

.segunda_fila{


}
hr {
  height: 5px;
  width: 20%;
  background-color: black;
  margin-left: 0%;
  font-family: 'Saira Extra Condensed', sans-serif;
}

h5{
  position: relative;
  left: 60px;
  bottom:45px;
  color:#fff;
  padding:5px 5px;
  opacity:0.5;
  font-weight:bold;
  margin: 0;

}

.foto1{
  float: left;
  width: 200px;
  height:200px;
  margin: 3px;

}

.foto2{
  float: left;
  width: 200px;
  height:200px;
  margin: 3px;

}

.foto3{

    float: left;
    width: 200px;
    height: 200px;
    margin: 3px;
  }

.foto4{
    float: left;
    width: 200px;
    height: 400px;
    margin: 3px;
  }

.foto5{
    float: left;
    width: 200px;
    height: 400px;
    margin: 3px;
  }
.foto6{
    float: left;
    width: 200px;
    height: 400px;
    margin: 3px;

}
